In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('livros.csv')

In [14]:
livros = df.loc[:,'id':'dt_devolucao']

livros.fillna('').values.tolist()

[[1,
  'patriarcas e profetas',
  'ellen white',
  'cpb',
  123,
  'disponível',
  '',
  '',
  '',
  ''],
 [2,
  'patriarcas e profetas',
  'ellen white',
  'cpb',
  123,
  'disponível',
  '',
  '',
  '',
  ''],
 [3,
  'patriarcas e profetas',
  'ellen white',
  'cpb',
  123,
  'disponível',
  '',
  '',
  '',
  ''],
 [4,
  'patriarcas e profetas',
  'ellen white',
  'cpb',
  123,
  'disponível',
  '',
  '',
  '',
  ''],
 [5,
  'patriarcas e profetas',
  'ellen white',
  'cpb',
  123,
  'disponível',
  '',
  '',
  '',
  ''],
 [6,
  'patriarcas e profetas',
  'ellen white',
  'cpb',
  123,
  'disponível',
  '',
  '',
  '',
  ''],
 [7,
  'patriarcas e profetas',
  'ellen white',
  'cpb',
  123,
  'disponível',
  '',
  '',
  '',
  ''],
 [8,
  'patriarcas e profetas',
  'ellen white',
  'cpb',
  123,
  'disponível',
  '',
  '',
  '',
  ''],
 [9,
  'patriarcas e profetas',
  'ellen white',
  'cpb',
  123,
  'disponível',
  '',
  '',
  '',
  ''],
 [10,
  'patriarcas e profetas',
  'ellen white',
  'cpb',
  123,
  'disponível',
  '',
  '',
  '',
  '']]

In [61]:
df_dvds = df_dvds.loc[df_dvds['diretor'] != 'matheus']
df_dvds

,id,titulo,diretor,distribuidora,tempo,situacao,beneficiado,telefone,dt_emprestimo,dt_devolucao
1,2,Rubens,Gabriel,medeiros,Nobrega,Disponível,NaN,NaN,NaN,NaN