In [48]:
from db_manager import db_manager
import pandas as pd
from datetime import date

In [58]:
df_dvds = pd.read_csv('dvds.csv')
df_diretores_dvds = pd.read_csv('diretores_dvds.csv')
df_distribuidoras_dvds = pd.read_csv('distribuidoras_dvds.csv')

In [60]:
df_dvds

,id,titulo,diretor,distribuidora,tempo,situacao,beneficiado,telefone,dt_emprestimo,dt_devolucao
0,1,jhosef,matheus,medeiros,nobrega,Disponível,NaN,NaN,NaN,NaN
1,2,Rubens,Gabriel,medeiros,Nobrega,Disponível,NaN,NaN,NaN,NaN

In [61]:
df_dvds = df_dvds.loc[df_dvds['diretor'] != 'matheus']
df_dvds

,id,titulo,diretor,distribuidora,tempo,situacao,beneficiado,telefone,dt_emprestimo,dt_devolucao
1,2,Rubens,Gabriel,medeiros,Nobrega,Disponível,NaN,NaN,NaN,NaN