In [11]:
import pandas as pd
from datetime import date

In [5]:
df = pd.read_csv('dvds.csv')

In [10]:
df

,id,titulo,diretor,distribuidora,tempo,situacao,beneficiado,telefone,dt_emprestimo,dt_devolucao
0,1,A,B,C,D,Emprestado,E,F,18/10/2021,29/10/2021
1,2,G,H,I,J,Emprestado,K,L,18/10/2021,29/10/2021

In [14]:
df['titulo'].where(pd.to_datetime(df['dt_devolucao'], format='%d/%m/%Y').dt.date < date.today())

0    NaN
1    NaN
Name: titulo, dtype: object