In [32]:
import pandas as pd
import numpy as np
from db_manager import db_manager

In [2]:
db = db_manager()

In [6]:
df = pd.read_csv('livros.csv')

In [7]:
df

,id,titulo,autor,editora,n_pag,situacao,beneficiado,telefone,dt_emprestimo,dt_devolucao
0,1,Patriarcas e Profetas,Ellen G. White,CPB - Casa Publicadora Brasileira,873,Disponível,NaN,NaN,NaN,NaN
1,2,Profetas e Reis,Ellen G. White,CPB - Casa Publicadora Brasileira,864,Disponível,NaN,NaN,NaN,NaN
2,3,O Desejado de Todas as Nações,Ellen G. White,CPB - Casa Publicadora Brasileira,895,Disponível,NaN,NaN,NaN,NaN
3,4,Atos dos Apóstolos,Ellen G. White,CPB - Casa Publicadora Brasileira,700,Disponível,NaN,NaN,NaN,NaN
4,5,O Grande Conflito,Ellen G. White,CPB - Casa Publicadora Brasileira,900,Disponível,NaN,NaN,NaN,NaN

In [39]:
resultado = df.loc[df['editora'] == 'CPB - Casa Publicadora Brasileira'].where(df['situacao'] == 'Emprestado')

Empty DataFrame
Columns: [id, titulo, autor, editora, n_pag, situacao, beneficiado, telefone, dt_emprestimo, dt_devolucao]
Index: []

array([], dtype=float64)